# **Mata Kuliah : BigData & Data Mining**

## **Materi : Struktur Dataset**

**Kemampuan Akhir Tiap Tahapan Belajar(sub CPMK)**

SCPMK 1681916: Mahasiswa dapat menjelaskan konsep dasar data science [CPMK19]

**Indikator**
Mahasiswa dapat melakukan operasi pada dataset (membaca data, struktur dataframe)

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom)

Dengan menggunakan Pandas Library, kita bisa membuat DataFrame seperti List, Tuple, Dictionary.

# **#List**
Dalam bahasa pemrograman Python, struktur data yang paling dasar adalah urutan atau lists. Setiap elemen-elemen berurutan akan diberi nomor posisi atau indeksnya. Indeks pertama dalam list adalah nol, indeks kedua adalah satu dan seterusnya.

In [1]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1 = ['BigData & Data Mining', 'BigData & Predictive Analytic', 2022, 2022]
list2 = ["buku","pensil","penggaris","spidol","bolpoin","penghapus"]
list3 = ["a", "b", "c", "d"]

In [2]:
#Cara mengakses nilai di dalam list Python
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5]) 
#a[start:stop]  # items start through stop-1

list1[0]:  BigData & Data Mining
list2[1:5]:  ['pensil', 'penggaris', 'spidol', 'bolpoin']

In [3]:
#tampilkan data pada list3 urutan ke-3 sebanyak 2 data
print ("list2[2:4]: ", list3[2:4])

list2[2:4]:  ['c', 'd']

In [4]:
#tampilkan pensil dan penggaris dalam satu baris

#list2 = ["buku","pensil","penggaris","spidol","bolpoin","penghapus"]

print(list2[1],' ',list2[2])
print(list2[1:3])

pensil   penggaris
['pensil', 'penggaris']

In [5]:
#DataFrame dari List
import pandas as pd

data = {'buah': ['apel','pisang','jeruk','nanas','durian'],
        'sayur' : ['bayam','sawi','wortel','kentang','kacang'],
        'hewan': ['kucing','kambing','sapi','kelinci','buaya']}

df = pd.DataFrame(data)
df.head()

     buah    sayur    hewan
0    apel    bayam   kucing
1  pisang     sawi  kambing
2   jeruk   wortel     sapi
3   nanas  kentang  kelinci
4  durian   kacang    buaya

In [6]:
#Tampilkan Sapi
print(data['hewan'][2])

sapi

In [7]:
#Tampilkan Kentang dan Buaya dalam satu baris
print(data['sayur'][3],' ',data['hewan'][4])

kentang   buaya

# **#Tuple**
Sebuah tupel adalah urutan objek Python yang tidak berubah. Tupel adalah urutan, seperti daftar. Perbedaan utama antara tupel dan daftarnya adalah bahwa tupel tidak dapat diubah tidak seperti List Python. Tupel menggunakan tanda kurung, sedangkan List Python menggunakan tanda kurung siku.

Membuat tuple semudah memasukkan nilai-nilai yang dipisahkan koma. Secara opsional, Anda dapat memasukkan nilai-nilai yang dipisahkan koma ini di antara tanda kurung juga. Sebagai contoh :

In [8]:
#Contoh sederhana pembuatan tuple pada bahasa pemrograman python
tup1 = ('BigData & Data Mining', 'BigData & Predictive Analytic', 2022, 2022)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [9]:
type (tup1)

tuple

In [10]:
len(tup2)

5

In [11]:
#Cara mengakses nilai tuple
print ("tup1[0]: ", tup1[0])
print ("tup2[1-4]: ", tup2[1:5])

tup1[0]:  BigData & Data Mining
tup2[1-4]:  (2, 3, 4, 5)

In [12]:
#Tampilkan tup2 dan tup3 dalam satu baris
print (tup2,' & ',tup3)
print (tup2+tup3)

(1, 2, 3, 4, 5)  &  ('a', 'b', 'c', 'd')
(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [13]:
print(type(tup1[0]))
print(type(tup2[1]))
print(type(tup3[2]))

<class 'str'>
<class 'int'>
<class 'str'>

In [14]:
#Buat tuple baru dengan isi 4 digit NIM masing-masing
#Contoh hasil : (3,2,0,1)
tup_nim = (3,2,0,1 )
print(tup_nim)

(3, 2, 0, 1)

# **#Dictionary**
Dictionary Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

In [15]:
#Contoh cara membuat Dictionary pada Python
dict = {'Name': 'Zara', 'Age': 20, 'Class': 'BigData1'}

print ("Value dari key ['Name']: ", dict['Name'])
print ("Value dari key ['Age']: ", dict['Age'])

print (dict)

Value dari key ['Name']:  Zara
Value dari key ['Age']:  20
{'Name': 'Zara', 'Age': 20, 'Class': 'BigData1'}

In [16]:
#Update dictionary python
dict['Age'] = 8; # Mengubah entri yang sudah ada
dict['University'] = "Amikom" # Menambah entri baru

print ("Value dari ['Age'] berubah menjadi: ", dict['Age'])
print ("Key baru ['University'] : ", dict['University'])

print(dict)

Value dari ['Age'] berubah menjadi:  8
Key baru ['University'] :  Amikom
{'Name': 'Zara', 'Age': 8, 'Class': 'BigData1', 'University': 'Amikom'}

In [17]:
#Tambahkan satu dictionary baru dengan Identitas nama, umur, dan kelas masing-masing
#pada dictionary dict

#Dictionary dict nantinya akan menjadi bentuk List
print('Cara 1 : ')
dict = [dict,{'Name': 'Tatang', 'Age': 11, 'Class': 'BigData0'}]
print(dict)

print('\nCara 2 : ')
dict = [{'Name': 'Zara', 'Age': 20, 'Class': 'BigData1'},
        {'Name': 'Tatang', 'Age': 11, 'Class': 'BigData0'}]
print(dict)

Cara 1 :
[{'Name': 'Zara', 'Age': 8, 'Class': 'BigData1', 'University': 'Amikom'}, {'Name': 'Tatang', 'Age': 11, 'Class': 'BigData0'}]

Cara 2 :
[{'Name': 'Zara', 'Age': 20, 'Class': 'BigData1'}, {'Name': 'Tatang', 'Age': 11, 'Class': 'BigData0'}]

In [18]:
#DataFrame dari Dictionary
data = [{'Name': 'Zara', 'Age': 20, 'Class': 'BigData1'}, # index ke-0
        {'Name': 'Lala', 'Age': 21, 'Class': 'BigData2'}, # index ke-1
        {'Name': 'Lili', 'Age': 22, 'Class': 'BigData3'}] # index ke-3

df = pd.DataFrame(data)

df.head()

   Name  Age     Class
0  Zara   20  BigData1
1  Lala   21  BigData2
2  Lili   22  BigData3

# **#Dataframe Dari File**

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [21]:
#menampilkan data 15 teratas
df.head(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
12,-121.93,37.25,36.0,1089.0,182.0,535.0,170.0,4.6900,252600.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0

In [22]:
#memotong data dari baris ke-1 s/d baris ke-5
df.loc[1:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0

In [23]:
# 4 data teratas dari 3 kolom yang dipilih
df.loc[0:3, ['longitude', 'latitude', 'housing_median_age']]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0

Referensi :

https://belajarpython.com/tutorial/list-python

https://ngodingdata.com/python-pandas-dataframe/

https://basangdata.com/pandas-menampilkan-data/

# Tugas

In [24]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

1. pada dictionary sountrack_dic, manakah yang berfungsi sebagai key?


```
# Key-nya adalah : "The Bodyguard" dan "Saturday Night Fever"
```


2. pada dictionary sountrack_dic, tunjukkan valuenya!


```
# Untuk Key "The Bodyguard" valuenya adalah "1992"
# Untuk Key "Saturday Night Fever" valuenya adalah "1977"
```

Album **Back in Black**, **The Bodyguard** dan **Thriller** memiliki penjualan rekaman musik berikut dalam jutaan masing-masing **50**, **50** dan **65**:

3. Buat dictionary **album_sales_dict** di mana ***key*** nya adalah **nama album** dan **penjualan dalam jutaan** adalah ***value***nya.

In [25]:
album_sales_dict = {"Back in Black": 50,"The Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

4. dengan dictionary tersebut tampilkan **total penjualan album Thriller**

In [26]:
album_sales_dict["Thriller"]

65

In [27]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

5. Hitung panjang dari tuple genres_tuple

In [28]:
len(genres_tuple)

8

6. tampilkan data index ke 3 dari tuple tersebut(index dimulai dari 0)

In [29]:
genres_tuple[2]

'soul'

7. tampilkan data index ke 2 s/d 6, dari tuple tersebut

In [30]:
genres_tuple[1:5]

('rock', 'soul', 'hard rock', 'soft rock')

8. Buat list **a_list**, dengan elemen berikut **1**, **hello**, **[1,2,3]** dan **True**.

In [31]:
a_list = [1,'hello',[1,2,3], True]

9. tampilkan value dari index 1, list tersebut

In [32]:
a_list[1]

'hello'

10. gabungkan list berikut : lists A = [1, 'a'] and B = [2, 1, 'd']:

In [33]:
A = [1,'a']
B = [2,1,'d']
AB = [A,B]
print('AB: ',AB)

AB:  [[1, 'a'], [2, 1, 'd']]

10. Buat data Frame dari dictionary, yang berisi data teman sekelas anda 5 orang(data memuat nim, nama,no hp). kemudian tampilkan 3 data teratas dari data frame tersebut

In [34]:
friendlist = [{'NIM':'20.11.3675','Nama':'Miftahudin Faiz','No HP':'+6282133211556'},
              {'NIM':'20.11.3708','Nama':'Satya Tegar Kusuma','No HP':'+6282241065326'},
              {'NIM':'20.11.3714','Nama':'Muhammad Bastian Hanafi','No HP':'+6285156924041'},
              {'NIM':'20.11.3682','Nama':'Nurul Zalza Bilal Jannah','No HP':'+6281225118369'},
              {'NIM':'20.11.3727','Nama':'Fauzan Baehaqi','No HP':'+6288227946219'}]

dataframe = pd.DataFrame(friendlist)
dataframe.head(3)

          NIM                     Nama           No HP
0  20.11.3675          Miftahudin Faiz  +6282133211556
1  20.11.3708       Satya Tegar Kusuma  +6282241065326
2  20.11.3714  Muhammad Bastian Hanafi  +6285156924041